@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800');
@import url('http://fonts.googleapis.com/css?family=Oswald:400,300,700');

/*Main Body*/ 
body {
	padding: 30px;
	font-family: 'Oswald',sans-serif;
}
/*
h1, h2, h3 {
	margin: 0 0 25px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #666;
	font-family: 'Oswald',sans-serif;
	text-shadow: 0 0 1px rgba(0,0,0,0.01);
}

h3 {
	font-size: 22px;
	position: relative;
}

h2, .h2 {
	font-size: 32px;
}

/*TEMP - about page display */
.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

/*Header*/
.navbar {
	margin-bottom: 30px;
}

.navbar .main-nav {
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

/*Footer*/
footer .footer-top {
}

footer .footer-bottom {
	margin-top:10px;
}

/*Content Boxes*/
.content {
	padding: 20px 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	color: #666;
	margin-bottom:20px;
}

/*Error Page*/
.error-page {
	padding: 20px 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	color: #666;
	text-align: center;
}

.error .error-med {
	font-size: 20px;
	line-height: 30px;
}

.error .error-big {
	font-size: 60px;
	line-height: 70px;
}

.error .error-small {
	font-size: 15px;
	max-width: 600px;
	margin: 0 auto;
}

.btn-return {
	margin: 10px 0;
	background-color: #666;
	border-color: #e6e6e6;
	color: #ffffff;
}

/*Contact Page*/
#map-canvas {
	width: 100%;
	height: 300px;
}

.space {
	margin-top: 20px;
	margin-bottom: 20px;
}

/*Login*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*Blog CSS*/
.post{
	background-color:#ecf0f1;
	border: 1px solid #ddd;
	border-radius: 10px;
	margin-bottom: 20px;
	padding:10px;
}
.post-wrap{}
.post-auth{}
.post-summary{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding-top:20px;
	padding-bottom: 20px;
	text-overflow: ellipsis;
}
.post-read-more{}


