<?php echo isset($this->_error) ? '<div class="alert alert-danger"><button type="button" class="close" aria-hidden="true" data-dismiss="alert">&times;</button><strong>Error:</strong> ' . $this->_error . '</div>' : ''; ?>
<?php echo isset($this->_success) ? '<div class="alert alert-success"><button type="button" class="close" aria-hidden="true" data-dismiss="alert">&times;</button><strong>Success:</strong> ' . $this->_success . '</div>' : ''; ?> 
  <div class="row">
    <div class="col-md-8">
      <h2>Publisher Articles</h2>
      <hr>
    </div>
  </div><!-- End Row -->

  <div class="row">
    <div class="col-md-2">
      <a class="btn btn-sm btn-primary" href="<?= SITE_URL; ?>/adminPublisher/addArticle/"><i class="fa fa-plus"></i> New Article</a>
    </div>
    <div class="col-md-6" id="pager"></div>
  </div><!-- End Row -->
  
	<div class="row">
		<div class="col-md-8">
      <table class="table table-striped" id="paginated" data-item="20">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author ID</th>
            <th>Last Edit</th>
            <th>Create Date</th>
            <th>Controls</th>
          </tr>
        </thead>
        <tbody>
<?php if(!empty($articles)): ?>
<?php foreach($articles as $key => $value): ?>
          <tr>
            <td><?= $value['article_id']; ?></td>
            <td data-toggle="tooltip" title="<?= $value['title']; ?>" ><?= strlen($value['title']) > 20 ? substr($value['title'],0,17).'&#133; ' : $value['title']; ?></td>
            <td><?= $value['author_id']; ?></td>
            <td><?= $value['edit_date']; ?></td>
            <td><?= $value['create_date']; ?></td>
            <td>
                <a class="btn btn-sm btn-<?= $value['publish'] == 1? 'primary' : 'danger' ; ?>" href="<?= SITE_URL; ?>/adminPublisher/toggleArticle/id/<?= $value['article_id']; ?>" data-toggle="tooltip" title="Publish Article"><i class="fa fa-check"></i></a>
                <a class="btn btn-sm btn-primary" href="<?= SITE_URL; ?>/adminPublisher/editArticle/id/<?= $value['article_id']; ?>" data-toggle="tooltip" title="Edit Article"><i class="fa fa-pencil"></i></a>
                <a class="btn btn-sm btn-default" data-id="<?= $value['article_id']; ?>" data-toggle="modal" data-target="#delete" title="Delete Article" id="deleteLink"><i class="fa fa-trash-o"></i></a>
            </td>
          </tr>                     
<?php endforeach; ?>
<?php endif; ?>
        </tbody>
      </table>
    </div>
  </div> <!-- End Row -->

<!-- Modal -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="deleteLabel">Warning!</h4>
      </div>
      <div class="modal-body">
        This will permanently delete the Article.
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
        <a type="button" class="btn btn-danger" id="modalConfirm" href="<?= SITE_URL; ?>/adminPublisher/deleteArticle/id/">Delete Article</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->