<header>
  <h1 class="title">Articles and Publications</h1>
</header>

<div class="content">
  <div class="row">

    <div class="col-lg-8 col-md-8 col-sm-8 clearfix">
<!-- Begin Loop -->
<?php if(!empty($articles)): ?>
<?php foreach($articles as $value): ?>
      <div class="post">
        <h3><?= date("F j, Y", strtotime($value['create_date'])); ?> <a href="<?= SITE_URL ?>/publisherFeed/rss"><small><i class="fa fa-rss"></i></small></a></h3>
          <div class="post-wrap">
            <h2><i class="fa fa-file-text"></i> <a href="<?= SITE_URL."/publisher/viewArticle/id/".$value['article_id']; ?>"><?= $value['title']; ?></a></h2>
              <div class="post-auth">
                Posted by <?= $value['author_name']; ?> at <abbr title="<?= $value['create_date']; ?>"><?= date("g:i a", strtotime($value['create_date'])); ?></abbr>
              </div>
              <div class="post-summary space" id="summary">
                <?= strlen($value['description']) > 153 ? substr($value['description'],0,150).'&#133; ' : $value['description']; ?>
              </div>
            <div class="post-read-more">
              <a class="btn btn-primary" href="<?= SITE_URL."/publisher/viewArticle/id/".$value['article_id']; ?>">Read More <i class="fa fa-angle-double-right"></i></a>
            </div>
          </div>
        <div class="clear"></div>
      </div>
<?php endforeach; ?>
<?php endif; ?>
<!-- END Loop -->

    </div><!-- END Column -->

    <!-- sidebar -->
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h3>Archive</h3>
      <div class="list-group">
<?php if(!empty($archive)): ?>
<?php foreach($archive as $key => $value): ?>
        <a class="list-group-item" href="<?= SITE_URL."/publisher/year/".$value; ?>"><?= $value; ?></a>
<?php endforeach; ?>
<?php endif; ?>
      </div>
    </div><!-- END Column -->

  </div>
</div>