<?php echo isset($this->_error) ? '<div class="alert alert-danger"><button type="button" class="close" aria-hidden="true" data-dismiss="alert">&times;</button><strong>Error:</strong> ' . $this->_error . '</div>' : ''; ?> 
      <div class="post">
        <h2><?= $article['title']; ?></h2>
          <div class="post-description">
            <small><?= $article['description']; ?></small>
          </div>
          <div class="post-auth">
            Published by <?= $article['author_name']; ?> on <?= date("F j, Y", strtotime($article['create_date'])); ?> at <abbr title="<?= $article['create_date']; ?>"><?= date("g:i a", strtotime($article['create_date'])); ?></abbr>
          </div>
          <div class="post-summary space" id="summary">
            <?= $article['content']; ?>
          </div>
      </div>