<div class="content">
<!-- Google Map -->
  <div id="map-canvas"></div>

      <div class="row">
          <div class="col-md-6">
            <?php echo isset($this->_error) ? '<div class="alert alert-danger"><button type="button" class="close" aria-hidden="true" data-dismiss="alert">&times;</button><strong>There was a problem!</strong> ' . $this->_error . '</div>' : ''; ?>
            <?php echo isset($this->_success) ? '<div class="alert alert-success"><button type="button" class="close" aria-hidden="true" data-dismiss="alert">&times;</button><strong>Thank You!</strong> ' . $this->_success . '</div>' : ''; ?>  
              <h3>Get In Touch With Us</h3>
              <p>Please fill out the from below.</p>
              <form role="form" method="post" action="/contact/submit" id="contactform">
                 <fieldset>
                    <div class="form-group">
                       <label for="contactname">Your Name<span class="help-required">*</span></label>
                       <input type="text" name="contactname" id="contactname" value="" class="form-control required" role="input" aria-required="true" autofocus/>
                    </div>
                    <div class="form-group">
                       <label for="phone">Your Phone Number<span class="help-required">*</span></label>
                       <input type="text" name="phone" id="phone" value="" class="form-control required" role="input" aria-required="true" />
                    </div>
                    <div class="form-group">
                       <label for="email">Your Email<span class="help-required">*</span></label>
                       <input type="text" name="email" id="email" value="" class="form-control required email" role="input" aria-required="true" />
                    </div>
                    <div class="form-group">
                       <label for="message">Message<span class="help-required">*</span></label>
                       <textarea rows="8" name="message" id="message" class="form-control required" role="textbox" aria-required="true" ></textarea>
                    </div>
                    <div class="actions">
                       <input type="submit" value="Send Your Message" name="submit" id="submitButton" class="btn btn-primary" title="Click here to submit your message!" />
                       <input type="reset" value="Clear Form" class="btn btn-danger" title="Remove all the data from the form." />
                    </div>
                 </fieldset>
              </form>
          </div>
          <div class="col-md-5">
              <h3>Contact Info</h3>
              <address>
              <ul class="vcard list-unstyled">
                  <li>
                      <span class="fa fa-map-marker"></span>
                      <strong>Address:</strong> <?= C_ADDRESS; ?></li>
                  <li>
                      <span class="fa fa-phone"></span>
                      <strong>Phone:</strong> <?= C_PHONE; ?></li>
                  <li>
                      <span class="fa fa-print"></span>
                      <strong>Fax:</strong> <?= C_PHONE; ?></li>
                  <li>
                      <span class="fa fa-envelope"></span>
                      <strong>eMail:</strong> <?= C_EMAIL; ?></li>
              </ul>
            </address>
          </div>
      </div>

</div>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script>
	var chicago = new google.maps.LatLng(41.8819, -87.6278);
	var navyPier = new google.maps.LatLng(41.8914, -87.5997);
	var marker;
	var map;

	function initialize() {
	  var mapOptions = {
	    zoom: 13,
	    mapTypeId: google.maps.MapTypeId.ROADMAP,
	    center: chicago
	  };

	  map = new google.maps.Map(document.getElementById('map-canvas'),
	          mapOptions);

	  marker = new google.maps.Marker({
	    map:map,
	    draggable:true,
	    animation: google.maps.Animation.DROP,
	    position: navyPier
	  });
	  google.maps.event.addListener(marker, 'click', toggleBounce);
	}

	function toggleBounce() {

	  if (marker.getAnimation() != null) {
	    marker.setAnimation(null);
	  } else {
	    marker.setAnimation(google.maps.Animation.BOUNCE);
	  }
	}


	google.maps.event.addDomListener(window, 'load', initialize);

</script>