<div class="error-page">
      <div class="row">
         <div class="col-md-12">
            
            <!-- 404 starts -->
            <div class="error">
               <div class="row">
                  <div class="col-md-12">

                        <p class="error-med">Oops! Something is missing!</p>                        
                        <p class="error-big">404<span class="color">!!!</span></p>                        
                        <p class="error-small">Unfortunately the page you were looking for could not be found. It may be temporarily unavailable, moved or no longer exist. Check the URL you entered for any mistakes and try again, we'll be right back after this commercial break.</p>
                        <a href="/" class="btn btn-return">Return home</a>

                  </div>
               </div>
            </div>
            <!-- 404 ends -->
         </div>
      </div>
</div>