<div class="container content">
	<div class="row">
		<div class="col-md-12">
<?php echo isset($this->_error) ? '<div class="alert alert-danger"><button type="button" class="close" aria-hidden="true" data-dismiss="alert">&times;</button><strong>Problem!</strong> ' . $this->_error . '</div>' : ''; ?> 
			  <form role="form" method="post" action="/login/submit" id="loginform" class="form-signin">
			    <h2 class="form-signin-heading">Please Sign In</h2>
			    <input type="text" name="email" class="form-control" placeholder="Email address" required autofocus>
			    <input type="password" name="password" class="form-control" placeholder="Password" required>
			    <!--<label class="checkbox">
			      <input type="checkbox" name="remember" value="true"> Remember me
			    </label>-->
			    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
			  </form>
		</div>
	</div> <!-- /row -->
</div> <!-- /container -->