<div class="content">
	<div class="row">
		<div class="col-md-12">
<?php echo isset($this->_error) ? '<div class="alert alert-danger"><button type="button" class="close" aria-hidden="true" data-dismiss="alert">&times;</button><strong>Problem!</strong> ' . $this->_error . '</div>' : ''; ?> 
			 <h1><?= User::getEmail(); ?> <small>Profile View</small></h1>
		</div>
	</div> <!-- /row -->
</div> <!-- /container -->