<div class="content">
      <div class="row">
         <div class="col-md-12">
            <!-- Register starts -->
            <div class="logreg">
               <div class="row">
                  <div class="col-md-12">
                     <div class="logreg-page">
                        <h3>Register with <span class="color"><?= $_SERVER['SERVER_NAME']; ?></span></h3>                        
                        <hr>
                          <div class="form">
                            <!-- Register form (not working)-->
                            <form class="form-horizontal">
                                <!-- Email -->
                                <div class="form-group">
                                  <label class="control-label col-md-3" for="email">Email</label>
                                  <div class="col-md-9">
                                    <input type="text" class="form-control" id="email">
                                  </div>
                                </div>                                   
                                <!-- Password -->
                                <div class="form-group">
                                  <label class="control-label col-md-3" for="email">Password</label>
                                  <div class="col-md-9">
                                    <input type="password" class="form-control" id="password">
                                  </div>
                                </div>
                                <!-- Checkbox -->
                                <div class="form-group">
                                   <div class="col-md-8 col-md-offset-3">
                                      <label class="checkbox-inline">
                                         <input type="checkbox" id="inlineCheckbox1" value="agree"> Agree with Terms and Conditions
                                      </label>
                                   </div>
                                </div> 
                                
                                <!-- Buttons -->
                                <div class="form-group">
                                   <!-- Buttons -->
											 <div class="col-md-8 col-md-offset-3">
												<button type="submit" class="btn btn-default">Register</button>
												<button type="reset" class="btn btn-default">Reset</button>
											</div>
                              </div>
                          </form>
                          <hr>
                              <div class="lregister">
                                 Already have account with us? <a href="<?= SITE_URL; ?>/login">Login</a>
                              </div>
                        </div>                           
                     </div>
                  </div>
               </div>
            </div> <!-- Login ends -->
         </div>
      </div>
   </div>
