<div class="container space">
    <div class="row">
      <div class="col-md-3 col-sm-3">
      <!-- list of Pages -->
            <h5>Pages</h5>
            <hr />
            <ul>
  <?php foreach ($links as $key => $value){ ?>
               <li><a href="/<?= $value; ?>"><?= ucfirst($value); ?></a></li>    
  <?php } ?>                        
            </ul>
      </div>
	</div>
</div>