  
    </div> <!-- /container -->

    <!-- Footer Start -->
     <footer class="container">
        <!-- Footer Top Start -->
        <div class="footer-top">
          <div class="row">
             <div class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-one">
                <h3>Header 1</h3>
                <p></p>
             </div>
             <div class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-two">
                <h3>Header 2</h3>
                <p></p>
             </div>
             <div class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-three">
                <h3>Contact Us</h3>
                <ul class="contact-us">
                   <li>
                      <p><i class="fa fa-map-marker"></i>  <strong>Address:</strong> <?= C_ADDRESS; ?></p>
                   </li>
                   <li>
                      <p><i class="fa fa-phone"></i>  <strong>Phone:</strong> <?= C_PHONE; ?></p>
                   </li>
                   <li>
                      <p><i class="fa fa-envelope"></i>  <strong>Email:</strong> <a href="mailto:<?= C_EMAIL; ?>"><?= C_EMAIL; ?></a></p>
                   </li>
                </ul>
             </div>
             <div class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-four">
                <h3>Header 4</h3>
                <p></p>
             </div>
          </div>
        </div>
        <!-- Footer Top End --> 
        <!-- Footer Bottom Start -->
        <div class="footer-bottom">
          <div class="row">
             <div class="col-lg-8 col-md-8 col-xs-12 col-sm-8"> 
                &copy; Copyright <?= date('Y'); ?> by <a href="#">Site Owner</a> All Rights Reserved. <a class="btn btn-xs btn-default" href="#" data-toggle="tooltip" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>  <a class="btn btn-xs btn-default" href="<?= SITE_URL; ?>/blogFeed/rss" data-toggle="tooltip" title="Rss"><i class="fa fa-rss"></i></a> 
             </div>
             <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4 pull-right">
              <a href="<?= SITE_URL; ?>/sitemap">Sitemap</a> | <a href="<?= SITE_URL; ?>/privacy">Privacy Policy</a> | <a href="<?= SITE_URL; ?>/login">Admin Login</a> | <a class="license" href="http://www.lite-cms.com"><i class="fa fa-leaf"></i> LiteCMS</a>
             </div>
          </div>
        </div>
        <!-- Footer Bottom End --> 
     </footer>
    
    <!-- jQuery CDN -->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- Bootstrap CDN -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
<?= $js; ?>

    <!-- Google Analytics Tracking -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '<?= GOOGLE_CODE; ?>', '<?= SITE_NAME; ?>');
      ga('send', 'pageview');
    </script>

  </body>
</html>