<!DOCTYPE html>
<html>
  <head>
    <title><?= SITE_NAME . ' | ' . $this->_title; ?></title>
    <meta name="description" content="<?= $this->_meta; ?>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="<?= SITE_URL;?>/favicon.ico">

    <!-- Bootstrap http://getbootstrap.com-->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- Font Awesome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    
    <!-- bootstrapcdn.com -->
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.2/yeti/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/css/style.css" rel="stylesheet">
    <?= $css; ?>

  </head>
  <!-- End Header -->

  <body>
    <div class="container"> <!-- Begin Content -->

