    
    </div> <!-- end container -->
    
    <!-- begin footer -->
     <footer id="footer">
        <div class="container">
          <div class="row">
             <p class="text-muted credit"> &copy; Copyright <?= date('Y'); ?> by <a href="mailto:dbergunder@lite-cms.com">David Bergunder</a>. All Rights Reserved.</p>
          </div>
        </div>
     </footer> <!-- end footer -->
    
    <script src="//code.jquery.com/jquery.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/public/js/bootstrap.min.js"></script>

    <!-- WYSIWYG Summernote -->
    <script src="/public/js/summernote.min.js"></script>

    <!-- Admin Javascript -->
    <script src="/public/js/admin.js"></script>

  </body>
</html>