<!DOCTYPE html>
<html>
  <head>
    <title><?= SITE_NAME; ?> Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Oswald:400,300,700" rel="stylesheet" type="text/css">

    <!-- Bootstrap http://getbootstrap.com-->
    <!-- <link href="/public/css/bootstrap.min.css" rel="stylesheet" media="screen"> -->

    <!-- Font Awesome -->
    <link href="/public/css/font-awesome.min.css" rel="stylesheet">
    <!--<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css" rel="stylesheet"> -->

    <!-- Bootstrap Theme http://getbootstrap.com -->
    <!-- <link href="/public/css/bootstrap-theme.min.css" rel="stylesheet"> -->

    <!-- bootstrapcdn.com -->
    <!-- <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/flatly/bootstrap.min.css" rel="stylesheet"> -->
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.1/spacelab/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/css/admin.css" rel="stylesheet">

    <!-- WYSIWYG Editor - summernote http://hackerwins.github.io/summernote/ -->
    <link href="/public/css/summernote.css" rel="stylesheet">
  </head>
  <body>
  <!-- End Header -->
    <div class="container" id="wrap"> <!-- Begin Content -->