<?php echo isset($this->_error) ? '<div class="alert alert-danger"><button type="button" class="close" aria-hidden="true" data-dismiss="alert">&times;</button><strong>Error:</strong> ' . $this->_error . '</div>' : ''; ?>
<?php echo isset($this->_success) ? '<div class="alert alert-success"><button type="button" class="close" aria-hidden="true" data-dismiss="alert">&times;</button><strong>Success:</strong> ' . $this->_success . '</div>' : ''; ?> 
  <div class="row">
    <div class="col-md-6">
      <h2>Settings</h2>
      <hr>
    </div>
  </div><!-- End Row -->

  <div class="row">
    <div class="col-md-2">
      <a class="btn btn-sm btn-primary" href="<?= SITE_URL; ?>/dashboard/addSetting/"><i class="fa fa-plus"></i> New Setting</a>
    </div>
    <div class="col-md-4" id="pager"></div>
  </div><!-- End Row -->

	<div class="row">
		<div class="col-md-6">
      <table class="table table-striped" id="paginated" data-item="5">
        <thead>
          <tr>
            <th>id</th>
            <th>Description</th>
            <th>Value</th>
            <th>Control</th>
          </tr>
        </thead>
        <tbody>
<?php if(!empty($settings)): ?>
<?php foreach($settings as $key => $value): ?>
          <tr>
            <td><?= $value['setting_id']; ?></td>
            <td><?= $value['description']; ?></td>
            <td><?= $value['value']; ?></td>
            <td>
                <a class="btn btn-sm btn-primary" href="<?= SITE_URL; ?>/dashboard/editSetting/id/<?= $value['setting_id']; ?>" data-toggle="tooltip" title="Edit Setting"><i class="fa fa-pencil"></i></a>
                <a class="btn btn-sm btn-default" data-id="<?= $value['setting_id']; ?>" data-toggle="modal" data-target="#delete" title="Delete Setting" id="deleteLink"><i class="fa fa-trash-o"></i></a>
            </td>
          </tr>                     
<?php endforeach; ?>
<?php endif; ?>
        </tbody>
      </table>
    </div>
  </div> <!-- End Row -->

<!-- Modal -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="deleteLabel">Warning!</h4>
      </div>
      <div class="modal-body">
        This will permanently delete the Setting and may have unintended consequences to site functionality.
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
        <a type="button" class="btn btn-danger" id="modalConfirm" href="<?= SITE_URL; ?>/dashboard/deleteSetting/id/">Delete Setting</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->