<div class="container">
	<div class="page-header">
	  <h1>Welcome to the Admin Dashboard! <small>Manage Pages, Users, and Modules</small></h1>
	</div>
	<div class="row">
		
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
				    <h3 class="panel-title" id="edit-page">Dashboard Controls</h3>
			    </div>
				<div class="panel-body">
					<ul>
						<li>View Users</li>
						<li>Add/Delete/Edit Users</li>
						<li>View Pages</li>
						<li>Add/Delete/Edit Pages</li>
						<li>User Login Logs</li>
						<li>Page Logs</li>
						<li>Module Management</li>
					</ul>
				</div>
				<div class="panel-footer"><a href="<?= SITE_URL; ?>/help" class="btn btn-sm btn-primary">Access the Docs <i class="fa fa-book"></i></a></div>
			</div>
		</div>

		<div class="col-md-2">
			<div class="list-group">
			  <a class="list-group-item active">Overview</a>
			  <a href="<?= SITE_URL; ?>/dashboard/users" class="list-group-item">
			    <span class="badge"><?= $userCount; ?></span>
			    	Users
			  </a>
			  <a href="<?= SITE_URL; ?>/dashboard/pages" class="list-group-item">
			    <span class="badge"><?= $pageCount; ?></span>
			    	Pages
			  </a>
			  <a class="list-group-item">
			  	<span class="badge"><?= $moduleCount; ?></span>
			  		Modules
			  	</a>
			</div>
		</div>

	</div>
</div>