<div class="container space">
    <div class="row">
      <div class="col-md-6">
        <?php echo isset($this->_error) ? '<div class="alert alert-danger"><button type="button" class="close" aria-hidden="true" data-dismiss="alert">&times;</button><strong>Error:</strong> ' . $this->_error . '</div>' : ''; ?> 
          <h3>Edit User</h3>
          <hr>
          <form role="form" method="post" action="/dashboard/editUser/id/<?= $user['user_id']; ?>" id="userform">
             <fieldset>
                <div class="form-group">
                   <label for="email">Email<span class="help-required">*</span></label>
                   <span class="help-block">Please use a valid email address for login.</span>
                   <input type="text" name="email" id="email" value="<?= $user['email'] ;?>" class="form-control required" role="input" autofocus/>
                </div>
                <div class="form-group">
                   <label for="username">Username<span class="help-required">*</span></label>
                   <span class="help-block">Displayed on site.</span>
                   <input type="text" name="username" id="username" value="<?= $user['user_name'] ;?>" class="form-control required" role="input"/>
                </div>
                <div class="form-group">
                   <label for="role">Role<span class="help-required">*</span></label>
                   <span class="help-block" id="description"></span>
                   <select name="role" id="role" class="form-control required">
                      <option data-description="Full Dashboard Administrative Access" value="<?= Enum::ADMIN; ?>" <?= $user['role'] == Enum::ADMIN? 'selected': ''; ?>>Admin</option>
                      <option data-description="Additional Limited Site Access" value="<?= Enum::USER; ?>" <?= $user['role'] == Enum::USER? 'selected': ''; ?>>User</option>
                    </select>
                </div>
                <div class="form-group">
                   <label for="password">Password<span class="help-required">*</span></label>
                   <input type="password" name="password" id="password" value="" class="form-control required" role="input" />
                </div>
                <div class="form-group">
                   <label for="password2">Verify Password<span class="help-required">*</span></label>
                   <input type="password" name="password2" id="password2" value="" class="form-control required" role="input" />
                </div>
                <div class="actions">
                   <input type="submit" value="Edit User" name="submit" id="submitButton" class="btn btn-primary" title="Click here to submit!" />
                   <a class="btn btn-sm btn-warning" href="<?= SITE_URL; ?>/dashboard/users/"><i class="fa fa-times"></i> Cancel</a>
                </div>
             </fieldset>
          </form>
      </div>
    </div>
</div>