<div class="container space">
    <div class="row">
        <div class="col-md-12">
          <?php echo isset($this->_error) ? '<div class="alert alert-danger"><button type="button" class="close" aria-hidden="true" data-dismiss="alert">&times;</button><strong>Error:</strong> ' . $this->_error . '</div>' : ''; ?> 
            <h3>Edit Page</h3>
            <hr>
            <form role="form" method="post" action="/dashboard/editPage/id/<?= $page['page_id']; ?>" id="pageform" onsubmit="return postForm();">
               <fieldset>
                  <div class="form-group">
                     <label for="name">Name / URL<span class="help-required">*</span></label>
                     <span class="help-block">Can not be modified.</span>
                     <input type="text" name="name" id="name" value="<?= $page['name']; ?>" class="form-control required" role="input" disabled />
                  </div>
                  <div class="form-group">
                     <label for="title">Title<span class="help-required">*</span></label>
                     <span class="help-block">Displayed title for pages and links.</span>
                     <input type="text" name="title" id="title" value="<?= $page['title']; ?>" class="form-control required" role="input" autofocus />
                  </div>
                  <div class="form-group">
                     <label for="meta">Meta</label>
                     <span class="help-block">Meta Description for SEO: 155 Character Limit.</span>
                     <input type="text" name="meta" id="meta" value="<?= $page['meta']; ?>" class="form-control" role="input" />
                  </div>
                  <div class="form-group">
                     <label for="content">Content<span class="help-required">*</span></label>
                     <textarea name="content" id="content" class="textarea" role="textbox"></textarea>
                  </div>
                  <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-primary <?= $page['publish'] == 'publish' ? 'active' : ''; ?>">
                              <input type="radio" name="publish" id="publish" autocomplete="off" <?= $page['publish'] == 'publish' ? 'checked' : ''; ?> > Publish
                          </label>
                          <label class="btn btn-primary <?= $page['publish'] == 'draft' ? 'active' : ''; ?>">
                              <input type="radio" name="publish" id="draft" autocomplete="off" <?= $page['publish'] == 'draft' ? 'checked' : ''; ?>> Draft
                          </label>
                      </div>
                  </div>
                  <div class="actions">
                     <input type="submit" value="Edit Page" name="submit" id="submitButton" class="btn btn-primary" title="Click here to submit!" />
                     <a class="btn btn-sm btn-warning" href="<?= SITE_URL; ?>/dashboard/pages/"><i class="fa fa-times"></i> Cancel</a>
                  </div>
               </fieldset>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
  //User JAVASCRIPT onload handler, since jQuery is not loaded yet.
  //Loads the content into the editor
  window.onload = function(){
          var html = <?= json_encode($page['content']); ?>;
          $('#content').code(html); 
  };
</script>