<?php echo isset($this->_error) ? '<div class="alert alert-danger"><button type="button" class="close" aria-hidden="true" data-dismiss="alert">&times;</button><strong>Error:</strong> ' . $this->_error . '</div>' : ''; ?>
<?php echo isset($this->_success) ? '<div class="alert alert-success"><button type="button" class="close" aria-hidden="true" data-dismiss="alert">&times;</button><strong>Success:</strong> ' . $this->_success . '</div>' : ''; ?> 
  <div class="row">
    <div class="col-md-6">
      <h2>Pages</h2>
      <hr>
    </div>
  </div><!-- End Row -->

  <div class="row">
    <div class="col-md-2">
      <a class="btn btn-sm btn-primary" href="<?= SITE_URL; ?>/dashboard/addPage/"><i class="fa fa-plus"></i> New Page</a>
    </div>
    <div class="col-md-4" id="pager"></div>
  </div><!-- End Row -->

	<div class="row">
		<div class="col-md-6">
      <table class="table table-striped" id="paginated" data-item="5">
        <thead>
          <tr>
            <th>id</th>
            <th>Name</th>
            <th>Last Edit</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
<?php if(!empty($pages)): ?>
<?php foreach($pages as $key => $value): ?>
          <tr>
            <td><?= $value['page_id']; ?></td>
            <td><?= $value['title']; ?></td>
            <td><?= $value['edit_date']; ?></td>
            <td>
                <a class="btn btn-sm btn-<?= $value['enabled'] == 1? 'primary' : 'danger' ; ?>" href="<?= SITE_URL; ?>/dashboard/togglePage/id/<?= $value['page_id']; ?>" data-toggle="tooltip" title="Menu Accessible"><i class="fa fa-check"></i></a>
                <a class="btn btn-sm btn-<?= $value['publish'] == 'published' ? 'primary' : 'danger' ; ?>" href="<?= SITE_URL; ?>/dashboard/publishPage/id/<?= $value['page_id']; ?>" data-toggle="tooltip" title="Published"><i class="fa fa-check"></i></a>
                <a class="btn btn-sm btn-primary" href="<?= SITE_URL; ?>/dashboard/editPage/id/<?= $value['page_id']; ?>" data-toggle="tooltip" title="Edit Page"><i class="fa fa-pencil"></i></a>
                <a class="btn btn-sm btn-default <?= in_array($value['name'], $this->_reservedNames)? 'disabled' : ''; ?>" data-id="<?= $value['page_id']; ?>" data-toggle="modal" data-target="#delete" title="Delete Page" id="deleteLink"><i class="fa fa-trash-o"></i></a>
            </td>
          </tr>                     
<?php endforeach; ?>
<?php endif; ?>
        </tbody>
      </table>
    </div>
  </div> <!-- End Row -->

<!-- Modal -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="deleteLabel">Warning!</h4>
      </div>
      <div class="modal-body">
        This will permanently delete the Page.
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-default" data-dismiss="modal">Cancel</a>
        <a type="button" class="btn btn-danger" id="modalConfirm" href="<?= SITE_URL; ?>/dashboard/deletePage/id/">Delete Page</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->