<div class="container space">
    <div class="row">
        <div class="col-md-12">
          <?php echo isset($this->_error) ? '<div class="alert alert-danger"><button type="button" class="close" aria-hidden="true" data-dismiss="alert">&times;</button><strong>Error:</strong> ' . $this->_error . '</div>' : ''; ?> 
            <h3>New Page</h3>
            <hr>
            <form role="form" method="post" action="/dashboard/addPage" id="pageform" onsubmit="return postForm();">
               <fieldset>
                  <div class="form-group">
                     <label for="name">Name / URL<span class="help-required">*</span></label>
                     <span class="help-block">This will automatically process into a browser friendly URL.</span>
                     <input type="text" name="name" id="name" value="" class="form-control required" role="input" autofocus/>
                  </div>
                  <div class="form-group">
                     <label for="title">Title<span class="help-required">*</span></label>
                     <span class="help-block">Displayed title for pages and links.</span>
                     <input type="text" name="title" id="title" value="" class="form-control required" role="input" />
                  </div>
                  <div class="form-group">
                     <label for="meta">Meta</label>
                     <span class="help-block">Meta Description for SEO: 155 Character Limit.</span>
                     <input type="text" name="meta" id="meta" value="" class="form-control" role="input" />
                  </div>
                  <div class="form-group">
                     <label for="content">Content<span class="help-required">*</span></label>
                     <textarea name="content" id="content" class="textarea hidden" role="textbox" placeholder="Write your Content..."></textarea>
                  </div>
                  <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-primary active">
                              <input type="radio" name="publish" id="publish" autocomplete="off" checked> Publish
                          </label>
                          <label class="btn btn-primary">
                              <input type="radio" name="publish" id="draft" autocomplete="off"> Draft
                          </label>
                      </div>
                  </div>
                  <div class="actions">
                     <input type="submit" value="Create Page" name="submit" id="submitButton" class="btn btn-primary" title="Click here to Create Page" />
                  </div>
               </fieldset>
            </form>
        </div>
    </div>
</div>