<div class="container">
<?php echo isset($this->_error) ? '<div class="alert alert-danger"><button type="button" class="close" aria-hidden="true" data-dismiss="alert">&times;</button><strong>Error:</strong> ' . $this->_error . '</div>' : ''; ?>
<?php echo isset($this->_success) ? '<div class="alert alert-success"><button type="button" class="close" aria-hidden="true" data-dismiss="alert">&times;</button><strong>Success:</strong> ' . $this->_success . '</div>' : ''; ?> 
  <div class="row">
    <div class="col-md-3">
      <h2>User Login Logs</h2>
    </div>
    <div class="col-md-5" id="pager"></div>
  </div><!-- End Row -->
	<div class="row">
		<div class="col-md-8">
      <table class="table table-bordered table-striped" id="paginated" data-item="20">
        <thead>
          <tr>
            <th>User</th>
            <th>Login Date</th>
          </tr>
        </thead>
        <tbody>
<?php foreach($logs as $key => $value): ?>
          <tr>
            <td><?= $value['user_id']; ?></td>
            <td><?= $value['log_date']; ?></td>
          </tr>                     
<?php endforeach; ?>
        </tbody>
      </table>
    </div>
  </div> <!-- End Row -->
</div>