<div class="container space">
    <div class="row">
      <div class="col-md-6">
        <?php echo isset($this->_error) ? '<div class="alert alert-danger"><button type="button" class="close" aria-hidden="true" data-dismiss="alert">&times;</button><strong>Error:</strong> ' . $this->_error . '</div>' : ''; ?> 
          <h3>Edit Setting</h3>
          <hr>
          <form role="form" method="post" action="/dashboard/editSetting/id/<?= $params['id']; ?>" id="settingform">
             <fieldset>
                <div class="form-group">
                   <label for="name">Name<span class="help-required">*</span></label>
                   <span class="help-block">All Capital Letters. Must not start with a symbol or number.</span>
                   <input type="text" name="name" id="name" value="<?= $setting['name'] ?>" class="form-control required" role="input" autofocus/>
                </div>
                <div class="form-group">
                   <label for="description">Description<span class="help-required">*</span></label>
                   <span class="help-block">Description of Setting.</span>
                   <input type="text" name="description" id="description" value="<?= $setting['description'] ?>" class="form-control required" role="input"/>
                </div>                
                <div class="form-group">
                   <label for="value">Value<span class="help-required">*</span></label>
                   <span class="help-block">Value of Setting.</span>
                   <input type="text" name="value" id="value" value="<?= $setting['value'] ?>" class="form-control required" role="input"/>
                </div>
                <div class="actions">
                   <input type="submit" value="Edit Setting" name="submit" id="submitButton" class="btn btn-primary" title="Click here to submit!" />
                   <a class="btn btn-sm btn-warning" href="<?= SITE_URL; ?>/dashboard/settings/"><i class="fa fa-times"></i> Cancel</a>
                </div>
             </fieldset>
          </form>
      </div>
    </div>
</div>