<div class="container">
	<div class="page-header">
	  <h1>LiteCMS Documentation <small>Tips and Tricks</small></h1>
	</div>
	<div class="row">
		<ul class="nav nav-pills">
		  <li><a href="#external-resources">External Resources</a></li>
		  <li><a href="#create-page">Create New Page</a></li>
		  <li><a href="#edit-page">Edit Page</a></li>
		  <li><a href="#toggle-page">Toggle Page View</a></li>
		  <li><a href="#create-user">Create User</a></li>
		  <li><a href="#edit-user">Edit User</a></li>
		  <li><a href="#toggle-user">Toggle User Account</a></li>
		  <li><a href="#modules">Modules</a></li>
		</ul>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<div class="list-group">
				<h3 id="external-resources">External Resources</h3>
				<a href="http://getbootstrap.com/" target="_blank" class="list-group-item">Twitter Bootstrap 3.0 - LiteCMS frontend is built on the Twiter Bootstrap scafolding.  Please review guidelines.</a>
				<a href="http://fontawesome.io/" target="_blank" class="list-group-item">Font Awesome - A great icon pack for adding flare to your site!</a>
				<a href="http://hackerwins.github.io/summernote/" target="_blank" class="list-group-item">Summernote wysiwyg - "What You See Is What You Get" editor incorporating Twitter Bootstrap.</a>
			</div>
		</div>
	</div>
	<!-- Pages -->
	<div class="row">
		<div class="col-md-12">
			<hr>
		</div>
		<div class="col-md-12">
			<h3>Page Help</h3>
		</div>
	</div>
	<div class="row">
		<!-- New Page -->
		<div class="col-md-12">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title" id="create-page">Create New Page</h3>
			  </div>
			  <div class="panel-body">
			    <ol>
			    	<li>On the <strong>Pages</strong> page click the <a class="btn btn-sm btn-primary" href="<?= SITE_URL; ?>/dashboard/addPage/">New Page</a> button.</li>
			    	<li>Fill out the page Name / URL field.  Use a simple word or words to be used in the browser and will automatically process into a browser friendly URL. <span class="label label-default">Names can not be chaged after creating the page.</span></li>
			    	<li>Title your page as it would appear displayed on links or buttons.</li>
			    	<li>For SEO: Search Engine Optimization; describe your page in 155 characters or less. <span class="label label-default">The Meta field is not required.</span></li>
			    	<li>Use the WYSIWYG Editor to create content for your site!  You can click on the <a class="btn btn-sm btn-default"><i class="fa fa-code"></i></a> button to write HTML markup directly.</li>
			    	<li>Click the <button name="submit" class="btn btn-primary" title="You could click here, but it won't work!">Create Page</button> and you are finished!</li>
			    </ol>
			  </div>
			  <div class="panel-footer"><a class="btn btn-sm btn-primary" href="<?= SITE_URL; ?>/dashboard/addPage/">New Page</a></div>
			</div>
		</div>
	</div>
	<!-- Edit Page -->
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title" id="edit-page">Edit Page</h3>
			  </div>
			  <div class="panel-body">
			    <ol>
			    	<li>On the <strong>Pages</strong> page click the <a class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i></a> button for the page you wish to edit.</li>
			    	<li>The page Name / URL field disabled.<span class="label label-default">Names can not be changed after creating the page.</span></li>
			    	<li>The Title, Meta and Content areas may be updated.</li>
			    	<li>Click the <button name="submit" class="btn btn-primary" title="You could click here, but it won't work!">Edit Page</button> to submit changes.</li>
			    	<li>Click the <button name="submit" class="btn btn-sm btn-warning" title="You could click here, but it won't work!"><i class="fa fa-times"></i> Cancel</button> to cancel Edit.</li>
			    </ol>
			  </div>
			  <div class="panel-footer"><a class="btn btn-sm btn-primary" href="<?= SITE_URL; ?>/dashboard/pages/">View Pages</a></div>
			</div>
		</div>
	</div>
	<!-- Toggle Page -->
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title" id="toggle-page">Toggle Page View</h3>
			  </div>
			  <div class="panel-body">
			    <ol>
			    	<li>On the <strong>Pages</strong> page click the <a class="btn btn-sm btn-primary"><i class="fa fa-check"></i></a> button for the page you wish <strong>Disable</strong> from public view.</li>
			    	<li>Click the <a class="btn btn-sm btn-danger"><i class="fa fa-check"></i></a> button for the page you wish <strong>Enable</strong> to public view.</li>
			    	<li><span class="label label-default">All pages are enabled by default and on creation</span></li>
			    </ol>
			  </div>
			  <div class="panel-footer"><a class="btn btn-sm btn-primary" href="<?= SITE_URL; ?>/dashboard/pages/">View Pages</a></div>
			</div>
		</div>
	</div>
	<!-- Users -->
	<div class="row">
		<div class="col-md-12">
			<hr>
		</div>
		<div class="col-md-12">
			<h3>User Help</h3>
		</div>
	</div>
	<div class="row">
		<!-- New User -->
		<div class="col-md-12">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title" id="create-user">Create New User</h3>
			  </div>
			  <div class="panel-body">
			    <ol>
			    	<li>On the <strong>Users</strong> page click the <a class="btn btn-sm btn-primary" href="<?= SITE_URL; ?>/dashboard/addUser/">New User</a> button.</li>
			    	<li>Fill out the User Email field.</li>
			    	<li>Select role: Admin or User. <span class="label label-default">Admins have Dashboard access.</span></li>
			    	<li>Create a password for the user and type it into both fields. <span class="label label-default">Passwords must match!</span></li>
			    	<li>Click the <button name="submit" class="btn btn-primary" title="You could click here, but it won't work!">Create User</button> and you are finished!</li>
			    </ol>
			  </div>
			  <div class="panel-footer"><a class="btn btn-sm btn-primary" href="<?= SITE_URL; ?>/dashboard/addUser/">New User</a></div>
			</div>
		</div>
	</div>
	<div class="row">
		<!-- Edit User -->
		<div class="col-md-12">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title" id="edit-user">Edit User</h3>
			  </div>
			  <div class="panel-body">
			    <ol>
			    	<li>On the <strong>Users</strong> page click the <a class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i></a> button for the User you wish to edit.</li>
			    	<li>Update the User email field.</li>
			    	<li>Select role: Admin or User. <span class="label label-default">Admins have Dashboard access.</span></li>
			    	<li>Update the password for the user and type it into both fields. <span class="label label-default">Passwords must match!</span></li>
			    	<li>Click the <button name="submit" class="btn btn-primary" title="You could click here, but it won't work!">Edit User</button> to submit changes.</li>
			    	<li>Click the <button name="submit" class="btn btn-sm btn-warning" title="You could click here, but it won't work!"><i class="fa fa-times"></i> Cancel</button> to cancel Edit.</li>
			    </ol>
			  </div>
			  <div class="panel-footer"><a class="btn btn-sm btn-primary" href="<?= SITE_URL; ?>/dashboard/users/">View Users</a></div>
			</div>
		</div>
	</div>
	<div class="row">
		<!-- Toggle User -->
		<div class="col-md-12">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title" id="toggle-user">Toggle User Account</h3>
			  </div>
			  <div class="panel-body">
			  	<ol>
			    	<li>On the <strong>Users</strong> page click the <a class="btn btn-sm btn-primary"><i class="fa fa-check"></i></a> button for the User Account you wish to <strong>Disable</strong>.</li>
			    	<li>Click the <a class="btn btn-sm btn-danger"><i class="fa fa-check"></i></a> button for the User Account you wish to <strong>Enable</strong>.</li>
			    	<li><span class="label label-default">All User Accounts are enabled by default and on creation</span></li>
			    </ol>
			  </div>
			  <div class="panel-footer"><a class="btn btn-sm btn-primary" href="<?= SITE_URL; ?>/dashboard/users/">View Users</a></div>
			</div>
		</div>
	</div>
	<div class="row">
		<!-- Modules -->
		<div class="col-md-12">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title" id="modules">Modules</h3>
			  </div>
			  <div class="panel-body">
			    <p><strong>Modules</strong> add additional capabilities and features to your website. Each <strong>Module</strong> is loaded dynamically when placed into the <strong>/modules/</strong> folder of your installation as long as they follow these guidelines:</p>
			    <ul>
			    	<li>Each <strong>Modules</strong> is contained in a folder of the same name, ex: the folder named <strong>/blog/</strong> contains the Blog module.</li>
			    	<li>The <strong>Modules</strong> must have a <code>bootloader.php</code> file for initializing settings.</li>
			    	<li>Public Route: <code>self::_routes[] = "module";</code></li>
			    	<li>Admin Route: <code>self::_routes[] = "adminModule";</code></li>
			    	<li>The class file for the Public view inherits from the Page class.</li>
			    	<li>The class file for the Admin view inherits from the Dashboard class.</li>
			    	<li>The LiteCMS framweork will locate and load the <strong>Module</strong> automatically.</li>
			    	<li>The <strong>Module</strong> will have access to all classes within the LiteCMS framework.</li>
			    	<li><span class="label label-default">Developing Modules in the LiteCMS should be handled by experienced developers.</span></li>
			    </ul>
			  </div>
			</div>
		</div>
	</div>
</div>