<div class="container space">
    <div class="row">
        <div class="col-md-12">
          <?php echo isset($this->_error) ? '<div class="alert alert-danger"><button type="button" class="close" aria-hidden="true" data-dismiss="alert">&times;</button><strong>Error:</strong> ' . $this->_error . '</div>' : ''; ?> 
            <h3>New Article</h3>
            <hr>
            <form role="form" method="post" action="<?= SITE_URL; ?>/adminBlog/addArticle" id="pageform" onsubmit="return postForm();">
               <fieldset>
                  <div class="form-group">
                     <label for="title">Title<span class="help-required">*</span></label>
                     <span class="help-block">Displayed Title for Article.</span>
                     <input type="text" name="title" id="title" value="" class="form-control required" role="input" />
                  </div>
                  <div class="form-group">
                     <label for="content">Content<span class="help-required">*</span></label>
                     <textarea name="content" id="content" class="textarea hidden" role="textbox" placeholder="Write your Content..."></textarea>
                  </div>
                  <div class="actions">
                     <input type="submit" value="Create Article" name="submit" id="submitButton" class="btn btn-primary" title="Click here to submit!" />
                  </div>
               </fieldset>
            </form>
        </div>
    </div>
</div>